.category-switcher {
  border-top: 1px solid rgba(0,0,0,0.2);
  padding-top: 0.5em;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.category-switcher__item {
  font-family: "Apple Color Emoji", "Noto Color Emoji", "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol";
  padding: 0.3em;
  transition: background-color 0.2s linear;
  border-radius: 1em;
  cursor: pointer;
  flex-basis: 11.11%;
}

.category-switcher__item:hover {
  background-color: rgba(0,0,0,0.1);
}

.category-switcher__item--selected {
  background-color: rgba(0,0,0,0.3);
}
