.emoji-panel__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
  overflow-y: auto;
  justify-content: space-around;
}

.emoji-panel__list::-webkit-scrollbar {
  display: none;
}

.emoji-panel__list__message {
  font-size: 14px;
  margin: 2em 0;
}
