.emoji-panel__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
  height: inherit;
  overflow-y: auto;
  justify-content: flex-start;
  margin: 0 auto;
}

.emoji-panel__list__message {
  font-size: 14px;
  margin: 2em 0;
}
