.emoji {
  font-size: 21px;
  box-sizing: border-box;
  display: flex;
  text-align: center;
  font-family: "Apple Color Emoji", "Noto Color Emoji", "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol";
  padding: 0.4em;
  width: 1.6ch;
  height: 1.6ch;
  margin: 0.2em;
  overflow: hidden;
  transition: background-color 0.2s linear;
  border-radius: 0.4em;
  cursor: pointer;
}

.emoji:hover, .emoji--selected {
  background-color: rgba(0,0,0,0.2);
}
