$text-dark-gray: rgba(0,0,0,0.7);

$light-gray-1: rgba(0,0,0,0.1);
$light-gray-2: rgba(0,0,0,0.2);
$light-gray-3: rgba(0,0,0,0.3);

$emoji-padding-hor: 0.2em;
$emoji-padding-ver: 0.2em;

$text-font-stack: -apple-system, BlinkMacSystemFont, Ubuntu, Cantarell, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
$emoji-font-stack: "Apple Color Emoji", "Noto Color Emoji", "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol";

$emoji-font-size: 21px;

