@import '_variables';

.category + .category {
  margin-top: 1em;
}

.category__title {
  text-align: left;
  font-size: 0.8em;
  color: $text-dark-gray;
  text-transform: uppercase;
  padding: 0.2em 0.5em;
}
