@import '_variables';

.emoji {
  font-size: $emoji-font-size;
  display: flex;
  font-family: $emoji-font-stack;
  margin: 0.2em 0.1em;
  padding: 0.2em;
  min-width: 1ch;
  min-height: 1ch;
  overflow: hidden;
  transition: background-color 0.2s linear;
  border-radius: 0.4em;
  cursor: pointer;
  flex-basis: 31%;
  justify-content: center;
}

@media (min-width: 12em) {
  .emoji {
    flex-basis: 23%;
  }
}

@media (min-width: 14em) {
  .emoji {
    flex-basis: 18%;
  }
}

@media (min-width: 16em) {
  .emoji {
    flex-basis: 14%;
  }
}

.emoji:hover, .emoji--selected {
  background-color: $light-gray-1;
}
